@model Feedback

@{
    ViewData["Title"] = "Chi tiết phản hồi";
    Layout = "_Layout";
}

<div class="p-3">
    <h2 class="text-2xl font-bold">Chi tiết phản hồi</h2>
    <hr class="my-4">
    <div class="mb-4">
        <span class="font-bold">Trạng thái ý kiến: </span>
        <span>@Model.OpinionState</span>
    </div>
    <div class="mb-4">
        <span class="font-bold">Khách hàng: </span>
        <a asp-controller="User" asp-action="Edit" asp-route-id="@Model.Customer.CustomerId" class="hover:underline">@Model.Customer.FullName</a>
    </div>
    <div class="mt-6 md:mt-0">
        <div class="flex items-start mb-5">
            <div class="pr-4">
                <footer>
                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">Ngày gửi: <time datetime="@Model.CreatedAt">@Model.CreatedAt.ToString("dd-MM-yyyy HH:mm:ss")</time></p>
                </footer>
                <h4 class="text-xl font-bold text-gray-900 dark:text-white">@Model.FeedbackCategory</h4>
            </div>
            <p class="bg-green-700 text-white text-sm font-semibold inline-flex items-center p-1.5 rounded uppercase">
                @Model.Status
            </p>
        </div>
        <p class="mb-2 text-gray-500 dark:text-gray-400">@Model.FeedbackMessage.</p>
        <a asp-controller="Feedback" asp-action="Index" class="hover:underline">Quay lại</a>
    </div>
</div>
