@*@model IEnumerable<Category>*@
@model FeedbackViewModel
@{
    ViewData["Title"] = "Quản lý phản hồi";
    Layout = "_Layout";
}

<div class="flex flex-col md:flex-row my-10 items-center md:space-x-5">
    <h1 class="font-bold text-2xl">QUẢN LÝ PHẢN HỒI</h1>
</div>
<div class="relative shadow-md sm:rounded-lg px-3">
    <table class="w-full text-sm text-left text-gray-500 h-full">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th class="px-6 py-3">
                    ID
                </th>
                <th class="px-3 py-3">
                    DANH MỤC PHẢN HỒI
                </th>
                <th class="px-6 py-3">
                    KHÁCH HÀNG
                </th>
                <th class="px-6 py-3">
                    NGÀY TẠO
                </th>
                <th class="px-6 py-3">
                    TRẠNG THÁI
                </th>
                <th class="px-6 py-3">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.Feedbacks)
            {
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        @obj.FeedbackId
                    </th>
                    <td class="px-6 py-4">
                        @obj.FeedbackCategory
                    </td>
                    <td class="px-2 py-4">
                        @obj.Customer.FullName
                    </td>
                    <td class="px-2 py-4">
                        @obj.CreatedAt
                    </td>
                    <td class="px-2 py-4">
                        @if (obj.Status == "đã đọc")
                        {
                            <span class="inline-flex items-center bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full">
                                <span class="w-2 h-2 mr-1 bg-green-500 rounded-full"></span>
                                @obj.Status
                            </span>
                        }
                        else if (obj.Status == "chưa đọc")
                        {
                            <span class="inline-flex items-center bg-gray-100 text-gray-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full">
                                <span class="w-2 h-2 mr-1 bg-gray-500 rounded-full"></span>
                                @obj.Status
                            </span>
                        }
                        else
                        {
                            <span>@obj.Status</span>
                        }
                    </td>
                    <td class="px-6 py-4 space-x-3">
                        <a asp-controller="Feedback" asp-action="Detail" asp-route-id="@obj.FeedbackId" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Chi tiết</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*@await Html.PartialAsync("_Pager", Model.Pager)*@
    <div class="fixed bottom-14 max-w-screen-xl p-2 text-right">
        @Html.Partial("_PagerFeedback", Model)
    </div>
</div>

