@*@model IEnumerable<Category>*@
@model FeedbackViewModel
@{
    ViewData["Title"] = "Quản lý phản hồi";
    Layout = "_Layout";
}

<div class="flex my-10 items-center justify-between">
    <h1 class="font-bold text-3xl">Quản lý phản hồi</h1>
</div>
<div class="relative shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 h-full">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th class="px-6 py-3">
                    ID
                </th>
                <th class="px-6 py-3">
                    Ý KIẾN
                </th>
                <th class="px-3 py-3">
                    DANH MỤC PHẢN HỒI
                </th>
                <th class="px-6 py-3">
                    KHÁCH HÀNG
                </th>
                <th class="px-6 py-3">
                    NGÀY TẠO
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.Feedbacks)
            {
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        @obj.FeedbackId
                    </th>
                    <td class="px-6 py-4">
                        @obj.OpinionState
                    </td>
                    <td class="px-6 py-4">
                        @obj.FeedbackCategory
                    </td>
                    <td class="px-2 py-4">
                        @obj.CustomerId
                    </td>
                    <td class="px-2 py-4">
                        @obj.CreatedAt
                    </td>
                    <td class="px-6 py-4 space-x-3">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.FeedbackId" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Chỉnh sửa</a>
                    </td>
                    @*<td>
            (@obj.CreatedDate.HasValue ? @obj.CreatedDate.Value.ToString("dd/mm/yyyy") : "")
        </td>*@
                </tr>
            }
        </tbody>
    </table>
    @*@await Html.PartialAsync("_Pager", Model.Pager)*@
    <div class="fixed bottom-14 max-w-screen-xl p-2 text-right">
        @*@Html.Partial("_PagerCategory", Model)*@
    </div>
</div>

