@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard Page";
    Layout = "_Layout";
}

@{
    decimal currentMonthRevenue = (decimal)ViewData["CurrentMonthRevenue"];
    decimal selectedMonthRevenue = (decimal)ViewData["SelectedMonthRevenue"];   
    decimal previousMonthRevenue = (decimal)ViewData["PreviousMonthRevenue"];
    int completedOrders = (int)ViewData["CompletedOrders"];
    int canceledOrders = (int)ViewData["CanceledOrders"];

    int selectCompletedOrders = (int)ViewData["SelectCompletedOrders"];
    int selectCanceledOrders = (int)ViewData["SelectCanceledOrders"];
    int selectTotalOrders = (int)ViewData["SelectTotalOrders"];
    int totalOrders = (int)ViewData["TotalOrders"];
    decimal profit = (decimal)ViewData["Profit"];
    int numberOfCompletedOrders = (int)ViewData["NumberOfCompletedOrders"];
    int numberOfCanceledOrders = (int)ViewData["NumberOfCanceledOrders"];
    int previousCompletedOrders = (int)ViewData["PreviousCompletedOrders"];
    int previousCanceledOrders = (int)ViewData["PreviousCanceledOrders"];
}


<div class="mx-auto p-3 md:p-5">
    <h1 class="text-2xl font-bold my-5 text-center md:text-left">DASHBOARD</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        @*Total Revenue*@
        <div class="w-full md:w-[300px] col-span-1 p-5 rounded-lg space-y-3 bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 shadow-lg shadow-blue-500/50">
            <h4 class="text-sm text-center text-white font-bold">Tổng doanh thu trong tháng</h4>
            <div class="flex justify-between">
                <div>
                    <p class="text-sm text-gray-100">Tháng hiện tại</p>
                    <p class="text-lg text-white font-bold">@string.Format("{0:N0} VNĐ", @currentMonthRevenue)</p>
                </div>
                <div>
                    <p class="text-sm text-gray-100">Tháng trước</p>
                    <p class="text-lg text-white font-bold">@string.Format("{0:N0} VNĐ", @previousMonthRevenue)</p>
                </div>
            </div>
            <div class="text-sm">
                @if (currentMonthRevenue < previousMonthRevenue)
                {
                    <p class="text-red-700">Lỗ: @string.Format("{0:N0} VNĐ", @profit)</p>
                }
                else
                {
                    <p class="text-green-400 font-bold">Lãi: + @string.Format("{0:N0} VNĐ", @profit)</p>
                }
            </div>
        </div>
        @*Total Completed Order in Month*@
        <div class="w-full md:w-[300px] col-span-1 p-5 space-y-3 bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 shadow-lg shadow-green-500/50 font-medium rounded-lg text-center">
            <h4 class="text-sm text-center font-bold text-white">Tổng đơn hàng đã giao trong tháng</h4>
            <div class="flex items-center justify-between">
                <div>
                    <p class="text-sm text-gray-100">Đơn đã giao</p>
                    <p class="text-2xl text-white font-bold">@completedOrders</p>
                </div>
                <div class="text-sm">
                    @if (completedOrders < previousCompletedOrders) //previousCompletedOrders
                        {
                        <p class="text-red-700 font-bold text-2xl">
                            <span class="material-icons">
                                arrow_downward
                            </span>
                            @numberOfCompletedOrders
                        </p>
                    }
                    else
                    {
                        <p class="text-green-200 font-bold text-2xl">
                            <span class="material-icons">
                                arrow_upward
                            </span>
                            @numberOfCompletedOrders
                        </p>
                    }
                </div>
            </div>
        </div>
        @*Total Completed Order in Month*@
        <div class="w-full md:w-[300px] col-span-1 p-5 rounded-lg space-y-3 bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 shadow-lg shadow-red-500/50 text-sm text-center">
            <h4 class="text-sm text-center font-bold text-white">Tổng đơn hàng đã huỷ trong tháng</h4>
            <div class="flex items-center justify-between">
                <div>
                    <p class="text-sm text-gray-100">Đơn đã huỷ</p>
                    <p class="text-2xl text-white font-bold">@canceledOrders</p>
                </div>
                <div>
                    @if (numberOfCanceledOrders < previousCanceledOrders)
                    {
                        <p class="text-red-200 text-2xl">
                            <span class="material-icons">
                                arrow_downward
                            </span>
                            @numberOfCanceledOrders
                        </p>
                    }
                    else
                    {
                        <p class="text-green-400 font-bold text-2xl">
                            <span class="material-icons">
                                arrow_upward
                            </span>
                            @numberOfCanceledOrders
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 mt-10 gap-4">
        <div class="border rounded-lg bg-gray-50 shadow-lg p-5 col-span-1 md:col-span-2">
            <h4 class="text-lg font-bold text-gray-600">Sơ đồ doanh thu</h4>
            <canvas id="revenueChart" width="250" height="150"></canvas>
        </div>
        <div class="w-full md:w-[300px] border shadow-lg p-5 rounded-lg col-span-1 space-y-5">
            <h4 class="text-lg font-bold text-gray-600">Tổng đơn hàng</h4>
            <div class="flex justify-between items-center">
                <div class="text-center">
                    <p class="text-sm text-gray-500">Đơn đã giao</p>
                    <p class="text-4xl font-bold">@completedOrders</p>
                </div>
                <div class="text-center">
                    <p class="text-sm text-gray-500">Đơn đã huỷ</p>
                    <p class="text-4xl font-bold"> @canceledOrders</p>
                </div>
            </div>
            <canvas id="orderChart" width="300" height="300"></canvas>
        </div>
    </div>

    <div class="space-y-5 pr-0 md:pr-4 mt-10">
        <div>
            <label for="selectMonth" class="block mb-2 text-sm font-bold text-gray-900">Tìm đơn hàng theo tháng, năm</label>
            <form asp-controller="Dashboard" asp-action="Index" method="get" class="flex flex-col md:flex-row items-center space-y-5 md:space-y-0 md:space-x-5">
                <select id="selectMonth" name="selectMonth" class="w-full md:w-[117px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5">
                    <option selected>Chọn tháng</option>
                    <option value="1">Tháng 1</option>
                    <option value="2">Tháng 2</option>
                    <option value="3">Tháng 3</option>
                    <option value="4">Tháng 4</option>
                    <option value="5">Tháng 5</option>
                    <option value="6">Tháng 6</option>
                    <option value="7">Tháng 7</option>
                    <option value="8">Tháng 8</option>
                    <option value="9">Tháng 9</option>
                    <option value="10">Tháng 10</option>
                    <option value="11">Tháng 11</option>
                    <option value="12">Tháng 12</option>
                </select>
                <select id="selectYear" name="selectYear" class="w-full md:w-[117px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5">
                    <option selected>Chọn năm</option>
                    <option value="2023">2023</option>
                </select>
                <button type="submit" class="w-full md:w-[117px] bg-red-700 p-2 rounded-lg text-white">Lấy kết quả</button>
            </form>
        </div>
        @if (@selectTotalOrders != null)
        {
            <div class="border grid grid-cols-1 md:grid-cols-2 rounded-lg shadow-lg p-5 gap-5">
                <div class="flex space-x-5 col-span-1">
                    <span class="material-icons text-green-500 border rounded border-green-500 bg-green-100">
                        delivery_dining
                    </span>
                    <p class="text-gray-600">Đơn đã giao</p>
                    <p>@selectCompletedOrders</p>
                </div>
                <div class="flex space-x-5 col-span-1">
                    <span class="material-icons border rounded text-red-500 border-red-500 bg-red-100">
                        delivery_dining
                    </span>
                    <p class="text-gray-600">Đơn đã huỷ</p>
                    <p>@selectCanceledOrders</p>
                </div>
                <div class="flex space-x-5 col-span-1">
                    <span class="material-icons border rounded text-yellow-500 border-yellow-500 bg-yellow-100">
                        monetization_on
                    </span>
                    <p class="text-gray-600">Doanh thu</p>
                    <p>@string.Format("{0:N0} VNĐ", @selectedMonthRevenue)</p>
                </div>
                <div class="flex space-x-5 col-span-1">
                    <span class="material-icons border rounded text-orange-500 border-orange-500 bg-orange-100">
                        poll
                    </span>
                    <p class="text-gray-600">Tổng đơn hàng</p>
                    <p>@selectTotalOrders</p>
                </div>
            </div>
        }
        @if (ViewData["OrderViewModels"] != null)
        {
            List<OrderDashboardViewModel> orderViewModels = (List<OrderDashboardViewModel>)ViewData["OrderViewModels"];
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th class="px-6 py-3">Order ID</th>
                            <th class="px-6 py-3">Customer Name</th>
                            <th class="px-6 py-3">Trạng thái</th>
                            <th class="px-6 py-3">Tổng tiền</th>
                            <th class="px-6 py-3">Ngày đặt</th>
                            <th class="px-6 py-3"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var orderViewModel in orderViewModels)
                        {
                            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">@orderViewModel.OrderId</th>
                                <td class="px-6 py-4">@orderViewModel.CustomerId</td>
                                <td class="px-6 py-4">@orderViewModel.Status</td>
                                <td class="px-6 py-4">@string.Format("{0:N0} VNĐ", @orderViewModel.TotalPrice)</td>
                                <td class="px-6 py-4">@orderViewModel.OrderDate</td>
                                <td class="px-6 py-4">
                                    <a asp-controller="Order" asp-action="Edit" asp-route-id="@orderViewModel.OrderId" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Chi tiết</a>
                                </td>
                            </tr>
                        }
                    </tbody>                    
                </table>
            </div>            
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }
        <form asp-controller="Dashboard" asp-action="ExportToExcel" method="post" class="flex flex-col md:flex-row items-center md:space-x-5 md:w-[600px]">
            <div class="mb-4 w-full">
                <label class="block text-gray-700 text-sm font-bold" for="startDate">Ngày bắt đầu:</label>
                <input class="border rounded py-2 px-3 text-gray-700 w-full" type="date" for="startDate" id="startDate" name="startDate" required>
            </div>
            <div class="mb-4 w-full">
                <label class="block text-gray-700 text-sm font-bold">Ngày kết thúc:</label>
                <input class="border rounded py-2 px-3 text-gray-700 w-full" type="date" for="endDate" id="endDate" name="endDate" required>
            </div>
            
            <button type="submit" class="w-full bg-green-700 hover:bg-green-600 text-white font-bold py-2 px-4 rounded flex items-center space-x-2">
                <span class="material-icons">
                    file_download
                </span>
                <p>Xuất ra file Excel</p>
            </button>
            
        </form>
    </div>    
</div>

@section Scripts {
    <script>
        var OrderCtx = document.getElementById('orderChart').getContext('2d');
        var RevenueCtx = document.getElementById('revenueChart').getContext('2d');

        var orderChart = new Chart(OrderCtx, {
            type: 'doughnut',
            data: {
                labels: ['Complete', 'Cancel'],
                datasets: [{
                    label: 'Order Statistics Chart',
                    data: [@completedOrders, @canceledOrders],
                    backgroundColor: [
                        'rgb(3, 201, 136)',
                        'rgb(244, 80, 80)',                        
                    ],
                    
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        var revenueChart = new Chart(RevenueCtx, {
            type: 'bar',
            data: {
                labels: ['Doanh thu tháng hiện tại', 'Doanh thu tháng trước'],
                datasets: [{
                    label: ['Bảng doanh thu tháng hiện tại'],
                    data: [@currentMonthRevenue,@previousMonthRevenue],
                    backgroundColor: [
                        'rgb(62,156,53)',
                        'rgb(203, 237, 213)',
                    ],
                    
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });        
    </script>
}

