@model CategoryViewModel
@{
    ViewData["Title"] = "Category Page";
    Layout = "_Layout";
}

<div class="flex flex-col md:flex-row my-10 items-center md:space-x-5 px-3">    
    <h1 class="font-bold text-2xl my-5">QUẢN LÝ DANH MỤC</h1>
    <a asp-controller="Category" asp-action="Create" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">TẠO DANH MỤC</a>
</div>
<div class="relative shadow-md sm:rounded-lg px-3">
    <table class="w-full text-sm text-left text-gray-500 h-full">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th class="px-6 py-3">
                    ID
                </th>
                <th class="px-6 py-3">
                    Tên danh mục
                </th>
                <th class="px-3 py-3">
                    Mô tả
                </th>
                <th class="px-6 py-3">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.Categories)
            {
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        @obj.Id
                    </th>
                    <td class="px-6 py-4">
                        @obj.Name
                    </td>
                    <td class="px-2 py-4">
                        @obj.Description
                    </td>
                    <td class="px-6 py-4 space-x-3">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Chỉnh sửa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="fixed bottom-14 max-w-screen-xl p-2 text-right">
        @Html.Partial("_PagerCategory", Model)
    </div>
</div>
