@model OrderViewModel

@{
    ViewData["Title"] = "Order Page";
    Layout = "_Layout";
}

<div class="space-y-10 px-3">
    <div>        
        <form asp-controller="Order" asp-action="SearchOrders" method="GET" class="">
            <div class="relative flex md:w-[400px] flex-wrap items-stretch">
                <input type="text"
                        name="searchQuery"
                        class="relative m-0 -mr-0.5 block w-[1px] min-w-0 flex-auto rounded-l-xl border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none"
                        placeholder="Search"
                        aria-label="Search"
                        aria-describedby="button-addon1" />

                Search button
                <button class="relative z-[2] flex items-center rounded-r-xl bg-red-700 px-3 py-2 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-red-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg"
                        type="submit"
                        id="button-addon1"
                        data-te-ripple-init
                        data-te-ripple-color="light">
                    <span class="material-icons">
                        search
                    </span>
                </button>
            </div>
        </form>        
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <h1>Is Pending</h1>
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th class="px-6 py-3">
                        ID
                    </th>
                    <th class="px-6 py-3">
                        TÌNH TRẠNG
                    </th>

                    <th class="px-6 py-3">
                        KHÁCH HÀNG
                    </th>
                    <th class="px-6 py-3">
                        GHI CHÚ
                    </th>                    
                    <th class="px-3 py-3">
                        NGÀY ĐẶT
                    </th>
                    <th class="px-6 py-3">

                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var obj in Model.Orders)
                {
                    @if (obj.Status == "Pending")
                    {
                        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                @obj.OrderId
                            </th>
                            <td class="px-6 py-4">
                                @obj.Status
                            </td>
                            <td class="px-6 py-4">
                                @obj.Customer.FullName
                            </td>
                            <td class="px-6 py-4">
                                @obj.Note
                            </td>                           
                            <td class="px-2 py-4">
                                @obj.OrderDate
                            </td>

                            <td class="px-6 py-4 space-x-3">
                                <a asp-controller="Order" asp-action="Edit" asp-route-id="@obj.OrderId" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Chỉnh sửa</a>
                            </td>                            
                        </tr>
                    }

                }
            </tbody>
        </table>
        <div class="fixed bottom-14 max-w-screen-xl p-2 text-right">
            @Html.Partial("_PagerOrder", Model)
        </div>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <h1>Is Pending</h1>
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th class="px-6 py-3">
                        ID
                    </th>
                    <th class="px-6 py-3">
                        TÌNH TRẠNG
                    </th>

                    <th class="px-6 py-3">
                        KHÁCH HÀNG
                    </th>
                    <th class="px-6 py-3">
                        GHI CHÚ
                    </th>                    
                    <th class="px-3 py-3">
                        NGÀY ĐẶT
                    </th>
                    <th class="px-6 py-3">

                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var obj in Model.Orders)
                {
                    @if (obj.Status == "Cooking")
                    {
                        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                @obj.OrderId
                            </th>
                            <td class="px-6 py-4">
                                @obj.Status
                            </td>
                            <td class="px-6 py-4">
                                @obj.Customer.FullName
                            </td>
                            <td class="px-6 py-4">
                                @obj.Note
                            </td>                           

                            <td class="px-2 py-4">
                                @obj.OrderDate
                            </td>

                            <td class="px-6 py-4 space-x-3">
                                <a asp-controller="Order" asp-action="Edit" asp-route-id="@obj.OrderId" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Chỉnh sửa</a>
                            </td>                            
                        </tr>
                    }

                }
            </tbody>
        </table>
        <div class="fixed bottom-14 max-w-screen-xl p-2 text-right">
            @Html.Partial("_PagerOrder", Model)
        </div>
    </div>    

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <h1>Shipping</h1>
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th class="px-6 py-3">
                        ID
                    </th>
                    <th class="px-6 py-3">
                        TÌNH TRẠNG
                    </th>

                    <th class="px-6 py-3">
                        KHÁCH HÀNG
                    </th>
                    <th class="px-6 py-3">
                        GHI CHÚ
                    </th>                    
                    <th class="px-3 py-3">
                        NGÀY ĐẶT
                    </th>
                    <th class="px-6 py-3">

                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var obj in Model.Orders)
                {
                    @if (obj.Status == "Shipping")
                    {
                        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                @obj.OrderId
                            </th>
                            <td class="px-6 py-4">
                                @obj.Status
                            </td>
                            <td class="px-6 py-4">
                                @obj.Customer.FullName
                            </td>
                            <td class="px-6 py-4">
                                @obj.Note
                            </td>                           

                            <td class="px-2 py-4">
                                @obj.OrderDate
                            </td>

                            <td class="px-6 py-4 space-x-3">
                                <a asp-controller="Order" asp-action="Edit" asp-route-id="@obj.OrderId" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Chỉnh sửa</a>
                            </td>                            
                        </tr>
                    }

                }
            </tbody>
        </table>
        <div class="fixed bottom-14 max-w-screen-xl p-2 text-right">
            @Html.Partial("_PagerOrder", Model)
        </div>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <h1>Complete</h1>
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th class="px-6 py-3">
                        ID
                    </th>
                    <th class="px-6 py-3">
                        TÌNH TRẠNG
                    </th>

                    <th class="px-6 py-3">
                        KHÁCH HÀNG
                    </th>
                    <th class="px-6 py-3">
                        GHI CHÚ
                    </th>                    
                    <th class="px-3 py-3">
                        NGÀY ĐẶT
                    </th>
                    <th class="px-6 py-3">

                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var obj in Model.Orders)
                {
                    @if (obj.Status == "Complete")
                    {
                        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                @obj.OrderId
                            </th>
                            <td class="px-6 py-4">
                                @obj.Status
                            </td>
                            <td class="px-6 py-4">
                                @obj.Customer.FullName
                            </td>
                            <td class="px-6 py-4">
                                @obj.Note
                            </td>                           

                            <td class="px-2 py-4">
                                @obj.OrderDate
                            </td>

                            <td class="px-6 py-4 space-x-3">
                                <a asp-controller="Order" asp-action="Edit" asp-route-id="@obj.OrderId" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Chỉnh sửa</a>
                            </td>                            
                        </tr>
                    }

                }
            </tbody>
        </table>
        <div class="fixed bottom-14 max-w-screen-xl p-2 text-right">
            @Html.Partial("_PagerOrder", Model)
        </div>
    </div>
</div>