@model Product

@{
    ViewData["Title"] = "Edit Product Page";
    Layout = "_Layout";
}


<div class="px-3 pb-5">
    <h1 class="font-bold text-center text-xl mb-5">CHỈNH SỬA MÓN ĂN</h1>
    @Html.AntiForgeryToken()
    <form asp-controller="Product" asp-action="EditProduct" asp-route-id="Id" enctype="multipart/form-data" method="post" class="max-w-[500px] mx-auto">
        <input type="hidden" asp-for="ProductId" />
        <div class="mb-6">
            <label asp-for="Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tên sản phẩm</label>
            <input asp-for="Name" type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Tên sản phẩm" required>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-6">
            <label for="categories" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Danh mục</label>
            <select id="categories" asp-for="CategoryId" asp-items="@ViewBag.Categories" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option value="">Chọn một danh mục</option>
            </select>
        </div>
        <div class="mb-6">
            <label asp-for="SKU" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mã sản phẩm</label>
            <input asp-for="SKU" type="text" id="SKU" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Mã sản phẩm" required>
            <span asp-validation-for="SKU" class="text-danger"></span>
        </div>
        <div class="mb-6">
            <label asp-for="Price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Giá</label>
            <input asp-for="Price" type="text" id="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Giá" required>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-6">
            <label asp-for="ImagePath" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="user_avatar">Tải tệp tin</label>
            <input asp-for="ImagePath" name="newImage" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none" type="file" accept=".jpg, .jpeg, .png">
            <div class="w-24 h-24">
                <img src="@Url.Content("~/Uploads/" + @Model.ImagePath)" alt="Product Image" class="w-full h-full object-cover" />
            </div>
        </div>
        <div class="mb-6">
            <label asp-for="IsPin" class="block mb-2 text-sm font-medium text-gray-900">Giới thiệu món ăn</label>
            <select asp-for="IsPin" id="IsPin" name="IsPin" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option selected>Tuỳ chọn giới thiệu</option>
                <option value="None">Gỡ giới thiệu</option>
                <option value="Recommended">Giới thiệu</option>
            </select>
        </div>
        <div class="mb-6">
            <label asp-for="Description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mô tả</label>
            <textarea asp-for="Description" id="Description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Mô tả..."></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="space-y-5 md:space-y-0 md:space-x-10 flex flex-col md:flex-row items-center">
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Cập nhật</button>
            <button type="submit" asp-controller="Product" asp-action="Delete" asp-route-id="@Model.ProductId" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Xoá món ăn</button>
            <a asp-controller="Product" asp-action="Index" class="hover:text-blue-500 hover:underline">Trở lại</a>
        </div>
    </form>
</div>

