@model CartViewModel

@{
    ViewData["Title"] = "Cart Page";
    Layout = "_HomeLayout";
}

@{
    decimal totalPrice = 0;
    decimal totalWithShipping = 0;
    decimal shippingFree = 20000;
}


<div class="max-w-screen-xl mx-auto">
    <h1 class="font-bold text-2xl mt-24 mb-10">GIỎ HÀNG CỦA TÔI</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
        @if (Model.Carts != null && Model.Carts.CartDetails != null && Model.Carts.CartDetails.Count() > 0)
        {
            <div class="col-span-1 md:col-span-2 space-y-3">
                @*@Html.Partial("_CartDetailsPartial", Model.CartDetails)*@
                @foreach (var item in Model.CartDetails)
                {
                    decimal subTotal = item.Product.Price * item.Quantity;
                    totalPrice += subTotal;
                    totalWithShipping = totalPrice + shippingFree;

                    @*PRODUCT 1*@
                    <div class="flex p-3 justify-between border rounded">
                        @*DETAIL PRODUCTS*@
                        <div>
                            <div class="flex items-center space-x-3">
                                @*IMG*@
                                <div class="w-[204px] h-[166px]">
                                    <img src="@Url.Content("~/Uploads/" + item.Product.ImagePath)"
                                         class="w-full h-full object-cover" />
                                </div>
                                @*DETAIL*@
                                <div>
                                    <h3 class="text-xl font-bold">@item.Product.Name</h3>
                                    <p class="text-gray-500">@item.Product.Description</p>
                                    <form asp-controller="Cart" asp-action="DeleteCartItem" asp-route-productId="@item.Product.ProductId">
                                        
                                        <button type="submit" class="font-bold text-red-500">Xoá</button>
                                    </form>                                

                                </div>
                            </div>
                        </div>
                        @*CONTROL*@
                        <form asp-controller="Cart" asp-action="UpdateCartItem" asp-route-productId="@item.Product.ProductId" method="post">
                            <div class="flex items-center space-x-5">                            
                                <button type="submit" name="changeQuantity" value="increase">
                                    <span class="material-icons text-3xl">
                                        add_circle_outline
                                    </span>
                                </button>
                                <p>@item.Quantity</p>
                                <button type="submit" name="changeQuantity" value="decrease">
                                    <span class="material-icons text-3xl">
                                        remove_circle_outline
                                    </span>
                                </button>
                                <p class="font-bold">@string.Format("{0:N0} VNĐ", @item.Product.Price)</p>
                            </div>
                        </form>                            
                    </div>
                }
            </div>
            @*TOTAL*@
            <div class="col-span-1">
                <div class="border rounded">
                    <div class="p-3">
                        @*TITLE*@
                        <div class="pb-2 mb-3 border-b flex items-center space-x-5">
                            <h2 class="text-xl font-bold">TỔNG TIỀN</h2>
                            <p class="text-md text-gray-500 font-bold">#@Model.CartDetails.Sum(cd => cd.Quantity) MÓN</p>
                        </div>
                        @*DETAIL PRICES*@
                        <div class="pb-2 mb-3 border-b flex flex-col">
                            <div class="flex mb-3 items-center justify-between">
                                <p class="">Tổng đơn hàng</p>
                                <p>@string.Format("{0:N0} VNĐ", @totalPrice)</p>
                            </div>
                            <div class="flex mb-3 items-center justify-between">
                                <p class="">Phí vận chuyển</p>
                                <p>@string.Format("{0:N0} VNĐ", @shippingFree)</p>
                            </div>
                            <div class="flex items-center justify-between text-xl font-bold">
                                <p class="">Tổng thanh toán</p>
                                <p>@string.Format("{0:N0} VNĐ", @totalWithShipping)</p>
                            </div>
                        </div>
                        @*CHECKOUT*@
                        <div class="bg-red-500 px-3 py-2 border rounded-2xl flex justify-between">
                            <a asp-action="Checkout" asp-controller="Cart" class="font-bold text-white">THANH TOÁN</a>
                            <p class="text-white font-bold">@string.Format("{0:N0} VNĐ", @totalWithShipping)</p>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <p class="text-gray-500 dark:text-gray-400 text-xl">No Products</p>
        }
    </div>
    @*ADD PRODUCT*@
    <a asp-controller="Home" asp-action="Menu" class="flex justify-center p-2 border-dashed border-2 rounded mt-10">
        <div class="mx-auto">
            <div class="text-gray-500 flex items-center space-x-3">
                <span class="material-icons text-2xl font-bold">
                    add
                </span>
                <p class="font-bold">THÊM MÓN</p>
            </div>
        </div>
    </a>
</div>


